<div class="col-xs-2 pull-right">
  <button type="button" class="btn btn-info btn-fab" ng-click="contacts.newContact()"><i class="material-icons">person_add</i></button>
</div>
<div class="col-xs-10">
  <div class="panel panel-default">
  <table class="table table-hover">
    <tbody>
      <tr ng-repeat="contact in contacts.contacts">
        <td>
          <a class="list-contact" ui-sref="contacts.detail({ _id: contact._id })">
            <p class="lead">
              {{contact.name}}
            </p>
          </a>
        </td>
        <td class="text-right text-nowrap">
          <button type="button" class="btn btn-danger"
            ng-click="contacts.removeContact(contact)">
            <i class="material-icons">delete</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
