<div class="col-xs-10">
  <div class="well well-lg">
    <div class="pull-left">
      <button type="button" class="btn btn-default" ui-sref="contacts.list">
        <i class="material-icons">arrow_back</i>
      </button>
    </div>
    <div class="pull-right">
      <a ui-sref="contacts.edit({ _id: contact.person._id })"
        type="button" class="btn btn-default">
        <i class="material-icons">edit</i>
      </a>
    </div>
    <br><br>
    <div class="page-header">
      <div class="page-title">
        <h4>Contact Detail</h4>
      </div>
    </div>
    <small>Name</small>
    <p>{{contact.person.name}}</p>
    <small>Title</small>
    <p>{{contact.person.title}}</p>
    <small>Email</small>
    <ul class="list-unstyled" ng-repeat="e in contact.person.email">
      <li>{{e.email}}</li>
    </ul>
    <small>Phone</small>
    <ul class="list-unstyled" ng-repeat="phone in contact.person.phone">
      <li>{{phone.option}}: {{phone.number}}</li>
    </ul>
    <small>Address</small>
    <ul class="list-unstyled" ng-repeat="adrs in contact.person.address">
      <li>
        <address>
          {{adrs.address}}
        </address>
      </li>
    </ul>
    <small>Company</small>
    <p>{{contact.person.company}}</p>
  </div>
</div>
