<md-toolbar md-scroll-shrink class="md-primary">
  <div class="md-toolbar-tools">
    <h2 class="md-flex">Kontak++</h2>
  </div>
</md-toolbar>
<md-button ng-click="$this.newContact()" class="md-fab md-fab-bottom-right md-accent md-hue-2 fixed" aria-label="Person">
  <md-tooltip md-direction="left">
    Create Contact
  </md-tooltip>
  <md-icon md-font-set="material-icons">person_add</md-icon>
</md-button>
<md-button ng-if="$this.superhero.length > 1" ng-click="$this.deleteAll()"
  class="md-fab md-fab-bottom-right md-warn fixed" aria-label="Delete All">
  <md-tooltip md-direction="left">
    Delete All
  </md-tooltip>
  <md-icon md-font-set="material-icons">delete</md-icon>
</md-button>
<br><br><br>
<md-content flex layout-padding class="list-content">
  <md-list class="fixedRows">
    <md-subheader class="md-no-sticky">
      <md-checkbox aria-label="Select All" ng-model="$this.value" ng-change="$this.checkAll($this.value)"></md-checkbox>
      Contacts
    </md-subheader>
    <div ng-if="!$this.search" layout="row" layout-align="end center">
      <md-button aria-label="Search" ng-click="$this.searchBtn()">
        <md-tooltip md-direction="left">
          Search
        </md-tooltip>
        <md-icon md-font-set="material-icons"> search </md-icon>
      </md-button>
    </div>
    <div ng-if="$this.search" layout-gt-xs="row">
      <md-input-container flex-gt-xs class="md-block">
        <input ng-model="$this.searchContact" placeholder="Search">
        <md-icon class="md-warn search" ng-click="$this.removeSearch()" md-font-set="material-icons"> close </md-icon>
      </md-input-container>
    </div>
    <div class="" ng-if="$this.superhero.length >= 1">
      <md-subheader layout="coloumn" layout-align="end center" class="md-primary" ng-if="$this.superhero.length >= 1">
        <small>{{$this.superhero.length}} contact(s) selected</small>
      </md-subheader>
    </div>
    <md-list-item class="md-2-line contact-item noright" ng-repeat="(index, contact) in $this.contacts | filter: $this.searchContact"
      ng-click="$this.goDetail(contact._id)">
      <img ng-src="uploads/{{contact.avatar || 'default-img.png'}}" class="md-avatar" alt="{{contact.name}}" />
        <p>{{contact.name}}</p>
      <md-checkbox class="md-secondary" aria-label="Select" checklist-model="$this.superhero" checklist-value="contact._id"></md-checkbox>
      <md-icon class="md-warn md-secondary" aria-label="delete contact" ng-click="$this.removeContact(contact._id)" md-font-set="material-icons"> clear </md-icon>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
  </md-list>
</md-content>
