<div class="col-xs-2 pull-right">
  <button type="button" class="btn btn-info btn-fab" ng-click="$this.newContact()"><i class="material-icons">person_add</i></button>
  <button type="button" class="btn btn-info btn-fab" ng-click="$this.checkAll()">Check All</button>
  <button type="button" class="btn btn-info btn-fab" ng-click="$this.uncheckAll()">Unchek</button>
  <div ng-if="$this.superhero.length > 1">
    <button type="button" class="btn btn-info btn-fab" ng-click="$this.deleteAll()">Delete All</button>
  </div>
</div>
<div ng-if="$this.search">
  <div class="col-xs-8">
    <form>
      <input type="text" class="form-control" ng-model="$this.searchContact" placeholder="Search">
    </form>
  </div>
  <div class="col-xs-2">
    <button class="btn btn-danger" ng-click="$this.removeSearch()">
      <i class="material-icons">clear</i>
    </button>
  </div>
</div>
<div class="col-xs-2" ng-if="!$this.search">
  <button type="button" class="btn btn-xs btn-default" ng-click="$this.searchBtn()">
    <i class="material-icons">search</i>
  </button>
</div>
<div class="col-xs-10">
  <div class="panel panel-info">
    <div class="panel-heading" ng-if="$this.superhero.length >= 1">
      <small>{{$this.superhero.length}} contact(s) selected</small>
    </div>
    <table class="table table-hover">
      <tbody>
        <tr ng-repeat="contact in $this.contacts | filter: $this.searchContact">
          <td>
            <!-- <label class="checkbox"> -->
              <input type="checkbox" checklist-model="$this.superhero" checklist-value="contact._id">
            <!-- </label> -->
          </td>
          <td>
            <a class="list-contact" ui-sref="contacts.detail({ _id: contact._id })">
              <p class="lead">
                {{contact.name}}
              </p>
              <div ng-show="$this.searchContact">
                <small>{{contact.title}}</small>
                <small>{{contact.company}}</small>
                <small>
                  <ul ng-repeat="e in contact.email">
                    <li class="list-unstyled">{{e.email}}</li>
                  </ul>
              </small>
              </div>
            </a>
          </td>
          <td class="text-right text-nowrap">
            <button type="button" class="btn btn-danger"
              ng-click="$this.removeContact(contact._id)">
              <i class="material-icons">delete</i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
